<%- include('header') %>

<div class="container my-3">
    <h2 class="my-5">Simple To-Do application developed with Node.js, express  & SQLITE database</h2>
    <p>This is just a basic application!</p>
    <br><a href="/">Home</a>
</div>

<%- include('footer') %>